---
on:
  push:
    tags:
      - v*

jobs:
  multi-arch-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GitHub Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Prepare release tag
        id: tag
        run: echo ::set-output name=version::${GITHUB_REF#refs/tags/v}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          labels: |
            org.opencontainers.image.title=mirrIO
            org.opencontainers.image.description=mirrIO
            org.opencontainers.image.url=https://github.com/gi8lino/excalidraw-nginx-unprivileged
            org.opencontainers.image.source=https://github.com/gi8lino/excalidraw-nginx-unprivileged
            org.opencontainers.image.version=${{ steps.tag.outputs.version }}
          tags: |
            ghcr.io/gi8lino/excalidraw-nginx-unprivileged:latest
            ghcr.io/gi8lino/excalidraw-nginx-unprivileged:${{ steps.tag.outputs.version }}
